.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(40deg, #fb63f9, #c2e534);
	border-radius: 25px;
	font-style: italic;
}

.text {
	padding-right: 10px;
}

.btn:hover {
	transform: scale(0.97);
	transition: 1s;
}

.btn:active {
	transform: scale(0.94);
	transition: .2s;
}


